# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Local environment files
.env

# VS Code workspace settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Build artifacts
lambda.zip
environment.json

lambda/lex_orchestrator/build/
lambda/lex_orchestrator/lambda.zip

# Python cache
__pycache__/
*.pyc